<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <nav><%- include('./partials/nav.ejs') %></nav>
  <div class="not-found content">OOPS, page not found :)</div>
  <footer><%- include('./partials/footer.ejs') %></footer>
</body>
